<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

  <title>
    {% if page.layout != 'home' %}{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %} - {{ site.title }}{% else %}
    {{ site.title }}{% endif %}
  </title>
  <link href="https://fonts.googleapis.com/css?family=Dancing+Script:400,700|Hind:300,500,600&display=swap" rel="stylesheet">
  <link >
  {% if site.color_mode == "dark" %}
    <link rel="stylesheet" href="{{ '/assets/css/dark_colors.css' | relative_url }}">
  {% else %}
    <link rel="stylesheet" href="{{ '/assets/css/light_colors.css' | relative_url }}">
  {% endif %}

  {% if page.alignment == "right" %}
    <link rel="stylesheet" href="{{ '/assets/css/right_style.css' | relative_url }}">
  {%- elsif page.alignment == "left" -%}
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
  {% else %}

    {% if site.right_aligned == true %}
      <link rel="stylesheet" href="{{ '/assets/css/right_style.css' | relative_url }}">
    {% else %}
      <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
    {% endif %}

  {% endif %}

</head>
