<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

  <title>
    {% if page.layout != 'home' %}{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %} - {{ site.title }}{% else %}
    {{ site.title }}{% endif %}
  </title>

  {% if site.color_mode == "dark" %}
    <link rel="stylesheet" href="{{ '/assets/css/dark_colors.css' | relative_url }}">
  {% else %}
    <link rel="stylesheet" href="{{ '/assets/css/light_colors.css' | relative_url }}">
  {% endif %}

  <link href="{{ '/assets/css/fonts.css' | relative_url }}" rel="stylesheet">
  <link href="{{ site.font_link_source | default: 'https://fonts.googleapis.com/css?family=Dancing+Script:400,700|Hind:300,500,600&display=swap' }}" rel="stylesheet">

  <link href="{{ '/assets/css/syntax_highlighting.css' | relative_url }}" rel="stylesheet">

  {{ site.extra_meta }}

  {% if page.alignment == "right" %}
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/right_modifier.css' | relative_url }}">
  {%- elsif page.alignment == "left" -%}
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
  {% else %}

    {% if site.right_aligned == true %}
      <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
      <link rel="stylesheet" href="{{ '/assets/css/right_modifier.css' | relative_url }}">
    {% else %}
      <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
    {% endif %}

  {% endif %}

  {% if page.stylesheet %}
    <link href="{{ page.stylesheet | default: layout.stylesheet }}" rel="stylesheet">
  {% endif %}
  {% if page.script %}
    <script src="{{ page.script | default: layout.script }}" type="text/javascript"></script>
  {% endif %}

  {% seo %}

</head>
