:root {

  --active: #FF7879;
  --faded:  #FFB8B9;

}

.book_preview_block {

  vertical-align: top;
  margin-top: 10vh;

}

.book_cover {

  height: 100vh;
  object-fit: contain;
  width: 20vw;
  display: inline-block;
  vertical-align: middle;
  margin-top: 0px;
  margin-right: 3vw;

}

.right_half {

  display: inline-block;
  width: 40vw;
  vertical-align: middle;

}
