---
# Font File
---

@font-face {
    font-family: 'Allison Script';
    src: url("../fonts/Allison_Script.otf") format("opentype");
}

:root {

  --logo-font:    {{ site.logo_font | default: 'Allison Script' }};
  --title-font:   {{ site.title_font | default: 'Dancing Script' }};
  --content-font: {{ site.content_font | default: 'Hind' }};

}
