body {

  font-family: var(--content-font);
  font-size: 20px;

  color: var(--text-color);
  background-color: var(--background-color);

}

h1, h2, h3, h4 { margin-left: -10px; margin-right: -10px; }

h1 {

  font-family: var(--title-font);
  font-weight: bold;
  font-size: 2.4em;
  margin-top: 0px;
  margin-bottom: 1em;

}

h2 {

  font-weight: 600;
  font-size: 1em;
  margin-top: 2em;
  margin-bottom: 1em;

  color: var(--grey);

}

h3 {

  font-weight: 400;
  font-size: 1em;
  margin-bottom: 1em;

  color: var(--faded);

}

h4 {

    font-weight: 300;
    font-size: 0.9em;
    margin-bottom: 1em;
    margin-top: 1em;

}

h4.page_title {

  width: 100%;
  text-align: center;

  color: var(--faded);

}

h4.page_title + h1 {

  color: var(--active);
  width: 100%;
  text-align: center;

}

h4 + h1 {margin-top: -0.5em;}
h1 + h2 {margin-top: -1.5em; text-transform: uppercase;}

p {

  text-align: justify;
  color: var(--lighter-text);
  margin-bottom: 2em;
  margin-left: 10px;
  margin-right: 10px;

}

nav {

  width: 30%;
  height: 100vh;

  position: fixed;
  left: 0;
  top: 0;

  padding-top: 10vh;

}

nav .mobile {display: none;}

nav ul {

  list-style-type: none;
  margin-left: 2em;

}

nav ul li {

  margin-bottom: 1em;

}

nav ul li a {

  color: var(--faded);
  text-decoration: none;

  transition: 0.1s;

}

nav ul li:hover a {

  color: var(--active);
  margin-left: 0.5em;

}

nav ul li.active a {

  color: var(--active);
  margin-left: 0.5em;

}

nav ul:hover li.active a {

  color: var(--faded);
  margin-left: 0;

}

nav ul:hover li:hover.active a {

  color: var(--active);
  margin-left: 0.5em;

}

footer {

  width: 20%;

  position: fixed;
  left: 5em;
  bottom: 1em;

  font-size: 0.8em;
  text-align: left;

  color: var(--grey);

}

header {

  position: absolute;
  display: block;
  right: 3em;
  top: 2em;
  left: 3em;

  font-size: 0.8em;
  text-align: right;

  color: var(--grey);

}

header.mobile {display: none;}

#site_title {

  font-family: var(--logo-font);
  font-size: 3.5em;
  max-width: 4em;
  padding-left: 1em;
  margin-bottom: 1em;

  color: var(--text-color);

}

#content {

  width: 65%;
  right: 0;
  top: 0;
  position: absolute;

  padding: 0.5%;
  padding-right: 4.5%;
  padding-top: 6em;

}

.multicols {

  column-count: 2;

}

.multicols3 {

  column-count: 3;

}

a {text-decoration: none; color: var(--active);}
a:visited {color: var(--faded);}
a:hover, a:hover.always_active {color: var(--lighter-text);}
a:active {color: var(--grey);}

img {

  width: 105%;
  max-height: 50vh;

  margin-top: 2em;
  margin-bottom: 2em;
  margin-left: -2.5%;

  object-fit: cover;

}

img.embed_title, .embed_title img {

  margin-bottom: -20px;
  max-height: 40vh;

}

.embed_title + h1 { margin-top: -2em; color: white; margin-left: 0px; margin-right: 0px; }

.multicols img, .multicols3 img {

  width: 90%;
  display: block;
  margin-left: 5%;
  margin-bottom: 5%;
  margin-top: 0;

}

ul {padding-left:1em}
li {padding-left:1em}
pre {overflow-x: scroll; font-size: 0.9em;}

.light {font-weight: 300;}

.mid_float {width: 100%; text-align: center;}

a.mid_float, .mid_float a {

  width: 100%;
  text-align: center;
  color: var(--active);
  transition: 0.1s;

}

a.mid_float:hover, .mid_float a:hover {color: var(--faded);}

@media only screen and (max-width: 980px) {
  body {margin: 0; padding: 0; font-size: 14px; margin-left: 2.5%; margin-right: 2.5%; }
  header {display: none;}
  header.mobile {display: block; padding: 0; margin: 0; width: 100%; left: 0; text-align: center;}
  nav {
    width: 100%;
    position: relative;
    height: auto;
    padding-top: 8em;
    text-align: center;
  }
  nav ul, nav ul li, nav ul li a, nav ul li.active a, nav ul:hover li a, nav ul li:hover a, nav ul:hover li.active a {padding-left: 0px; margin-left: 0px;}
  footer {display: block; position: static; top: 0px; width: 100%; text-align: center; margin-bottom: 10px;}
  h1, h2, h3, h4 {margin-left: 0px; margin-right: 0px;}
  img {margin-left: -6%; margin-right: -6%; width: 112%;}

  #site_title{text-align: center; width: 100%; display: inline-block; padding-left: 0px; font-size: 4em;}
  #content {
    width: 100%;
    position: relative;
    padding: 0;
    margin: 0;
    padding-top: 0em;
    margin-top: 0em;
  }
  .multicols, .multicols3 {column-count: 1}
  .embed_title + h1 {text-align: center;}
  a.mid_float {text-align: left;}

  /* Mobile navbar styles */
  nav input {
    position: absolute;
    opacity: 0;
    z-index: -1;
  }
  nav .tabs {
    overflow: hidden;
  }
  nav .tab {
    width: 100%;
    color: black;
    overflow: hidden;
  }
  nav .tab-label {
    justify-content: space-between;
    padding: 1em 0;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    width: 100%;
    display: block;
  }
  nav .tab-label::after {
    content: "\276F";
    width: 1em;
    height: 1em;
    padding-left: 0.5em;
    text-align: center;
    transition: all .35s;
    display: inline-block;
    position: absolute;
  }
  nav .tab-content {
    max-height: 0;
    padding: 0 1em;
    color: #2c3e50;
    background: white;
    transition: all .35s;
    overflow: hidden;
  }
  nav .tab-close {
    display: flex;
    justify-content: flex-end;
    padding: 1em;
    font-size: 0.75em;
    cursor: pointer;
  }

  nav input:checked + .tab-label::after {
    -webkit-transform: rotate(90deg) translateX(0.2em) translateY(0.2em);
    transform: rotate(90deg) translateX(0.2em) translateY(0.2em);
    transform-origin: bottom right;
    padding: 0;
    margin-bottom: 1em;
  }
  nav input:checked ~ .tab-content {
    max-height: 100vh;
    padding: 1em;
  }

}

@media only screen and (min-width: 980px) {
  a:visited.always_active, a:active.always_active {color: var(--active);}
  nav .mobile {display: none;}
  nav ul {display: block;}
}
