<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <title>{{ page.title }} | a sandslate example </title>

    {% if page.color_mode == "dark" %}
      <link rel="stylesheet" href="{{ '/assets/css/dark_colors.css' | relative_url }}">
    {% else %}
      <link rel="stylesheet" href="{{ '/assets/css/light_colors.css' | relative_url }}">
    {% endif %}

    <link rel="stylesheet" href="{{ '/assets/css/fonts.css' | relative_url }}">

    <link href="https://fonts.googleapis.com/css?family=Crimson+Text|Monoton&display=swap" rel="stylesheet">

    <link href="{{ site.font_link_source }}" rel="stylesheet">

    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">

    {% if page.alignment == "right" %}
      <link rel="stylesheet" href="{{ '/assets/css/right_modifier.css' | relative_url }}">
    {%- endif -%}

    <link rel="stylesheet" href="{{ '/examples/css/' | relative_url }}{{ page.source_name }}.css">

  </head>


  <body class="{{ site.font-size }}">

    {% include header_mobile.html %}

    <nav>

      <h1 id="site_title">{{ page.title }}</h1>

      <ul>
        <li><a href="/sandslate/">Home</a></li>

        {%- if page.title == "Une Petite Boulangerie" -%}
          <li class="active">
        {%- else -%}
          <li>
        {%- endif -%}
        <a href="/sandslate/examples/bakery.html">Une Petite Boulangerie</a></li>

        {%- if page.title == "Modern Designer" -%}
          <li class="active">
        {%- else -%}
          <li>
        {%- endif -%}
        <a href="/sandslate/examples/designer.html">Modern Designer</a></li>

        {%- if page.title == "Book Preview" -%}
          <li class="active">
        {%- else -%}
          <li>
        {%- endif -%}
        <a href="/sandslate/examples/book.html">Book Preview</a></li>

      </ul>

    </nav>

    <div id="content">

      {% include header.html %}

      {{ content }}

    </div>

    {% include footer.html %}

  </body>
</html>
